@model GODDAMN.Models.Product



<div class="text-center">
    <h1 class="display-4">@ViewBag.Name</h1>
    <br>
    <hr color=black>
    <div class="shadow-lg">
        <div class="container">
            <div>
                <span style="padding: 0px 20px;">&nbsp;</span>

            <h2>@Model.Name</h2>
                <span style="padding: 0px 20px;">&nbsp;</span>

            </div>

    <div class="scale1">

        <img class="center_" src="@Model.Img" width="610px" height="610px" />
    </div>
    <div>
    <span style="padding: 0px 5px;">&nbsp;</span>
    <span style="padding: 0px 5px;">&nbsp;</span>
    <span style="padding: 0px 5px;">&nbsp;</span>
    </div>
    <div class="mytextind1">
        <div class="shadow-sm">
        <span class="">@Model.Description</span>
        </div>
    </div>
    <div class="mytextind">
        <span >Размер: @Model.Size</span>
        <span style="padding: 0px 5px;">&nbsp;</span>

        <span>Цена: @Model.Price</span>
        <span style="padding: 0px 5px;">&nbsp;</span>
    </div>


    <form method="post" asp-action="Create" asp-controller="Home">
        <input type="hidden" name="a" value="@User.Identity.Name" />
        <input type="hidden" name="b" value="@Model.Id" />
        <input type="hidden" name="c" value="About" />
        <input type="submit" class="floating-button" value="Добавить" />
    </form>


        
    <p></p>
</div>
</div>
</div>
